/* Calendario */
.main__calendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.calendar {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #ddd;
    width: 1300px;
  }
  
  /* Encabezado del Calendario */
  .calendar__header {
    display: flex;
  }
  
  /* Día de la semana */
  .calendar__day {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }
  .calendar__days {
    display: flex;

  }
  
  
  /* Etiqueta de la hora */
  .hour-label {
    font-weight: bold;
  }
  
  .title {
    text-align: center;
  }
  
  .calendar__info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  /* Elementos de Información */
  .info-item {
    font-weight: bold;
  }

  /* ... (resto de estilos) */

/* Contenido del Calendario */
.calendar__content {
    display: flex;
    flex-direction: column;
  }
  
  /* Fila de Hora */
  .calendar__hour-row {
    display: flex;
    border-bottom: 1px solid #ddd;
  }
  
  /* Celda */
  .calendar__cell {
    flex: 1;
    border-right: 1px solid #ddd;
  }
  
  /* Etiqueta de la Hora */
  .calendar__hour-label {
    font-weight: lighter;
    font-size: 13px;
  }
  
  /* ... (resto de estilos) */
  /* Colores para las horas disponibles y ocupadas */
.calendar__cell.available {
  background-color: #8FA1FF;
  display: flex;
}

.calendar__cell.unavailable {
  background-color: #646262; 
  display: flex; /* Color para horas ocupadas */
}

.calendar__cell.reserved {
  display: flex;
  background-color: #FFC466;  /* Color para horas reservadas */
}

/* Estilo para el texto dentro de la celda */
.calendar__hour-label {
  color: #000000;  /* Color del texto (puedes ajustar según tu diseño) */
}


/* Estilo adicional para resaltar el evento en la celda si es necesario */
.calendar__event {
  display: flex;
  height: 100%;
}

/* Estilo para el botón de reserva */
.calendar__event button {
  background-color: #3843d0;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 10px;
}

/* Estilo para el texto dentro de la celda */
.calendar__event p {
  margin: 0;
  color: #4b4a4a; 
  margin-top: -3px;
}

/* Estilo para la información de reserva */
.reservation-info {
  display: flex;
  
}

/* Estilo para el nombre del reservador */
.reservation-info p {
  margin-left: 10px;
  font-weight: bold;
  font-size: 15px;
  
}

/* Nuevo estilo para celdas reservadas */

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 10px;
  border: 5px solid #ccc;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Estilos para los botones dentro del modal */
.ReactModal__Content .modal-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.ReactModal__Content .modal-button:hover {
  background-color: #0056b3;
}
